
<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="" href="/sylesheet/app.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
  
  <div class="container">
  <div class="row">
      <div class="col-md">
          <h1 class="text-center p-5 text-black size">Billing Info</h1>
                                                                              
      </div>
  </div>
</div>

    <div id="About" class="mb-5">
        <div class="container">           
            <div class="row mt-5">
            
            <div class="col">
                <form action="/submit5" method="POST">
                    <div class="form-group">
                        <input type="text" name="bill_id" value="" placeholder="Billing Id" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="address" value="" placeholder="Address" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="date" value="" placeholder="Date" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="mode_of_payment" value="" placeholder="Mode of Payment" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="oid" value="" placeholder="Order Id" class="form-control">
                    </div>
                    <div class="text-center justify-content-around">
                        
                    
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                
            </form>
            </div>
        </div>
                
            </div>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>